@font-face {
  font-family: national;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/national-2-web-regular.woff2') format('woff2');
}

@font-face {
  font-family: national;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/national-2-web-medium.woff2') format('woff2');
}

@font-face {
  font-family: national;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/national-2-web-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Westpac bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/westpac-bold.woff2') format('woff2');
}
